.parent {
  display: flex;
  flex-direction: column;
  background-color: #e1faea;
  width: 100%;
  min-height: 100vh;
}

.container {
  flex: 1;
  height: 95vh;
  background-color: #5e5e5e;
  align-content: flex-start;
  overflow: auto;
}

footer {
  height: 5vh;
  background-color: yellow;
  align-content: flex-end;
  display: flex;
  flex-direction: column;
}

.pageActionFooter {
  height: 5vh;
  display: flex;
  flex-direction: row;
}

.pageActionFooter > button {
  flex: 0 0 4em;
  margin-right: 50px;
}

.pageActionFooter > .myMessage {
  flex-grow: 1;
}

.companyInfo {
  height: 50px;
  text-align: center;
  background-color: #0a0a0a;
  color: white;
}