doctype html
html
    head
        title Test tile
        link(rel='stylesheet' href='flex.css')
    body
        .Aligner
            .item.top Some content here
            .item Some center content
            .item.bottom Bottom content

