//.parent {
//  display: flex;
//  flex-direction: column;
//  background-color: #8a8a8a;
//}
//
//.show {
//  display: flex;
//}
//
//.hide {
//  display: none;
//}
//
//.overlay {
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//  align-content: center;
//  width: 300px;
//  height: 300px;
//  overflow: auto;
//  background-color: #cc8b00;
//}

.parent {
  position: relative;
  display: block;
  height: 1000px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  background-color: #cc8b00;
}